name: Build Test
on:
  push:
    branches-ignore:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    environment:
      name: actions
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Create .env file
        run: echo "${{ secrets.DOTENV }}" > .env

      - name: bun-install
        run: bun i

      - name: ESLint
        run: bun run lint

      - name: bun-build
        run: bun run build